.profile {
    height: 100vh;
    color: white;
    overflow-y: scroll;
}

.profile::-webkit-scrollbar {
    display: none;
}

.profile_body {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 8%;
    max-width: 800px;
    margin-bottom: 15px;
}

.profile_body h1 {
    font-size: 60px ;
    font-weight: 400;
    border-bottom: 1px solid #565656;
    padding-bottom: 20px;
}

.profile_img {
    display: flex;
}

.profile_img img {
    height: 100px;
}

.profile_details {
    color: white;
    flex: 1;
    margin-left: 25px;
}

.profile_details h2 {
    background-color: gray;
    font-size: 15px;
    padding: 15px;
    padding-left: 20px;
}

.profile_btn {
    background-color: #e50914;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: 600;
    font-size: 1rem;
    margin-top: 5%;
    padding: 10px 20px;
    width: 100%;
}

.profile_plans {
    margin-top: 30px;
}

.profile_plans h3 {
    border-bottom: 1px solid #565656;
    padding-bottom: 10px;
}